
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    /* overflow-y: hidden; */
}

.gap {
    width: 100%;
    height: 40px;
}

.logo img{
    width: 150px;
}

/* ============================   Header   ============================ */

header {
    display: flex;
    background-color: #F5F7FA;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header nav {
    width: 40%;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    color: #18191F;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    color: #4CAF4F;
}

a.active {
    font-weight: 600;
    color: #4CAF4F;
}

/* Humberger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;    
}

.menu-toggle input {
    position: absolute;
    width: 60px;
    height: 30px;
    left: -15px;
    top: -5px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 4px;
    background-color: #4CAF4F;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* Humberger Menu Animation */

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(38deg);
    -webkit-transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    -ms-transform: rotate(38deg);
    -o-transform: r
    otate(38deg);
}
.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-38deg);
    -webkit-transform: rotate(-38deg);
    -moz-transform: rotate(-38deg);
    -ms-transform: rotate(-38deg);
    -o-transform: rotate(-38deg);
}

/* ============================  End Header   ============================ */


/* ============================   Hero   ============================ */

.hero {
    width: 100%;
    background-color: #F5F7FA;
    display: flex;
    padding-top: 60px;
    padding-bottom: 50px;
}

.hero-content {
    flex: 1.5;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1 {
    font-size: 64px;
    max-width: 800px;
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #4CAF4F;
}

.hero-content p{
    color: #717171;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero-content button {
    width: 130px;
    height: 45px;
    background-color: #4CAF4F;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: none;
    color: #F5F7FA;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: #1d6720;
}


.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-top: 20px;
}


.hero-image img{
    width: 500px;
}

/* ============================  End Hero   ============================ */



/* ============================   Clients   ============================ */

.clients-container {
    width: 100%;
}

.clients-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-title h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.clients-title p {
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}

.clients-logo {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px 20px;
}

.clients-logo img {
    width: 50px;
}

/* ============================   End Clients   ============================ */

/* ============================   Community   ============================ */

.community-container {
    width: 100%;
}

.community-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-title h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
    max-width: 550px;
    text-align: center;
    margin-bottom: 10px;
}

.community-title p {
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}

.community-list-items {
    display: flex;
    padding: 50px 50px 30px;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-item {
    width: 65px;
    margin-bottom: 15px;
}

.title-item {
    text-align: center;
    max-width: 240px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.desc-item {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    max-width: 240px;
    color: #717171;
}



/* ============================   End Community   ============================ */




/* ============================   Article   ============================ */


.article-container {
    display: flex;
    padding: 50px 50px;
    justify-content: space-evenly;
}

.img-article img {
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.content-article h2 {
    font-size: 36px;
    font-weight: 600;
    max-width: 600px;
    color: #4D4D4D;
    margin-bottom: 15px;
}

.content-article p {
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    max-width: 680px;
    margin-bottom: 20px;
}

.content-article button {
    width: 150px;
    height: 50px;
    background-color: #4CAF4F;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.content-article button:hover {
    background-color: #1d6720;
}



/* ============================   End Article   ============================ */


/* ============================   Stats   ============================ */

.stats-container {
    display: flex;
    background-color: #F5F7FA;
    padding: 50px 50px 40px;
    justify-content: space-evenly;
}

.stats-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.stats-info h2 {
    font-size: 36px;
    font-weight: 600;
    max-width: 408px;
    color: #4D4D4D;
    margin-bottom: 15px;
}

.stats-info h2 span {
    color: #4CAF4F;
}

.stats-info p {
    font-size: 16px;
    color: #18191F;
    font-weight: 400;
}

.list-items-stats {
    display: flex;
    max-width: 40%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.item-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 255px;
    height: 60px;
    margin-bottom: 20px;
}

.item-stats img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.count-stats h3{
    font-size: 28px;
    font-weight: 700;
    color: #4D4D4D;
    margin-bottom: 5px;
}

.count-stats p{
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}
/* ============================   End Stats   ============================ */


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #4CAF4F;
    color: #fff;
    font-weight: 500;
}










/* Responsive Breakpoint */

/* ukuran tablet */

@media screen and (max-width: 768px) {
    .gap {
        height: 30px;
    }


/* ============================   Header Tablet   ============================ */


    header {
        padding: 20px 40px;
    }
    header nav {
        width: 60%;
    }

/* ============================  End Header Tablet   ============================ */


/* ============================   Hero Tablet   ============================ */

    .hero-content {
        padding-left: 40px;
    }

    .hero-image {
        padding-right: 40px;
    }

    .hero-content h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .hero-content p {
        font-size: 14px;
        margin-bottom: 15px;
        max-width: 400px;
    }

    .hero-image img {
        width: 250px;
    }

    .hero-content button {
        width: 100px;
        height: 40px;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
    }

/* ============================   End Hero Tablet   ============================ */

/* ============================   Clients Tablet   ============================ */

    .clients-title h2 {
        font-size: 28px;
    }

    .clients-title p {
        font-size: 14px;
    }

    .clients-logo {
        padding: 20px 40px 10px;
    }

/* ============================   End Clients Tablet   ============================ */

/* ============================   Communty Tablet   ============================ */

    .community-title h2 {
        font-size: 28px;
    }

    .community-title p {
        font-size: 14px;
    }

    .community-list-items {
        padding: 30px 40px 20px;
    }

    .title-item {
        font-size: 22px;
        font-weight: 600;
        max-width: 190px;
    }

    .desc-item {
        font-size: 13px;
        max-width: 200px;
    }

/* ============================   End Community Tablet   ============================ */

/* ============================   Article Tablet   ============================ */

    .article-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;
    }

    .img-article img {
        width: 400px;
    }

    .content-article h2 {
        font-size: 30px;
    }

    .content-article p {
        font-size: 14px;
    }
    
    .content-article button {
        width: 130px;
        height: 40px;
    }
    

/* ============================   End Article Tablet   ============================ */


/* ============================   Stats Tablet   ============================ */

/* tidak ada yang di ubah */

/* ============================   End Stats Tablet   ============================ */


}

/* ukuran mobile */

@media screen and (max-width: 576px) {
    .gap {
        height: 30px;
    }
/* ============================   Header Mobile   ============================ */

    header {
        padding: 20px 30px;
    }
    header nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    header nav ul{
        display: absolute;
        flex-direction: column;
        background: #F5F7FA;
        height: 400px;
        justify-content: space-around;
        align-items: center;
        padding: 70px 0 20px;
        transform: translateY(-100%);
        -webkit-transform: t;
        -moz-transform: t;
        -ms-transform: t;
        -o-transform: t;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}

    header nav ul.slide {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}

/* ============================  End Header Mobile   ============================ */


/* ============================   Hero Mobile   ============================ */


    .menu-toggle {
        display: flex;
    }

    .hero {
        flex-direction: column;
    }
    
    .hero  {
        padding: 30px 0;
    }

    .hero-content {
        padding: 0 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .hero-content h1 {
        text-align: center;
    }

    .hero-content p {
        text-align: center;
    }

    .hero-content button {
        width: 90px;
        height: 35px;
        cursor: pointer;
    }

    .hero-image {
        padding: 0 30px;
        justify-content: center;
        align-items: center;
    }

/* ============================   End Hero Mobile   ============================ */

/* ============================   Clients Mobile   ============================ */

    .clients-title h2 {
        font-size: 26px;
    }

    .clients-title p {
        font-size: 13px;
    }

    .clients-logo {
        flex-wrap: wrap;
    }
    
    .clients-logo img {
        width: 110px;
        margin: 0 5px;
    }


/* ============================   End Clients Mobile   ============================ */

/* ============================   Community Mobile   ============================ */

    .community-title h2 {
        font-size: 26px;
        max-width: 400px;
    }

    .community-title p {
        font-size: 13px;
    }

    .community-list-items {
        flex-direction: column;
    }

    .item {
        margin-bottom: 30px;
    }

    .logo-item {
        width: 85px;
    }

    .title-item {
        max-width: 300px;
    }

    .desc-item {
        max-width: 400px;
        font-size: 14px;
    }

/* ============================   End Community Mobile   ============================ */



/* ============================   Article Mobile   ============================ */

    .article-container {
        flex-direction: column;
        align-items: center;
        padding: 0 30px 20px;
    }

    .img-article img {
        width: 380px;
    }

    .content-article h2 {
        font-size: 26px;
    }

    .content-article p {
        font-size: 13px;
    }

    .content-article button {
        width: 120px;
        height: 40px;
    }


/* ============================   End Article Mobile   ============================ */


/* ============================   Stast Mobile   ============================ */

.stats-container {
    flex-direction: column;
}

.stats-info {
    align-items: center;
    margin-bottom: 30px;
}

.stats-info h2 {
    text-align: center;
    font-size: 30px;
    max-width: 340px;
}

.stats-info p {
    font-size: 14px;
    text-align: end;
}

.list-items-stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.item-stats {
    width: 220px;
}

/* ============================   End Stats Mobile   ============================ */

}

